<!DOCTYPE html>
<html>
    <head>
        <title> calculator</title>
    </head>
    <body>
        <center><form>
            <br> <br>
            <h1><i>CALCULATOR</i></h1><br>
            <label for="num1">Enter first number</label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <label for="num2">Enter second number</label><br>
            <input type="number" id="num1">&nbsp; &nbsp; &nbsp; <input type="number" id="num2"><br><br><br><b>Which opertion do you want</b><br><br><br>
            &nbsp;<input type="radio" id="addition" ><label for="addition">Addition</label><br>
       ;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="Subtraction" ><label for="Subtraction">Subtraction</label><br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="Multiplication" ><label for="Multiplication">Multiplication</label><br>
            <input type="radio" id="Division" ><label for="Division">Division</label><br>
            <input type="radio" id="Factoral" ><label for="Factoral">Factoral</label><br>
            <input type="radio" id="Modules" ><label for="Modules">Modules</label><br>
        </center></form>
    </body>
</html>